
*  {
    margin: 0;
    padding: 0;
}
div{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: aqua;
}
.splash{
    z-index: 3000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(23, 25, 27, 0);
    transition: all 5s ease;
    
}
.splash:hover{
    z-index: 0;
}
.splash img{
    height: fit-width;
    width: 5%;
    animation: pup 2s ease-in-out infinite; 
}

@keyframes pup {
    from {
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(25deg);
    }
    50%{
        transform: rotateZ(0deg);
    }
    75%{
        transform: rotateZ(-25deg);
    }
    to {
        transform: rotateZ(0);
    }
}